/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.dropdown-toggle {
  width: 100%;
  text-align: left !important;
}

.dropdown-toggle::after {
  float: right;
  top: 10px;
  position: relative;
}

.c-sidebar {
  background: grey !important;
  .c-sidebar-nav-link:hover,
  .c-sidebar-nav-dropdown-toggle:hover {
      color: #fff;
      background: silver !important;
  }

}

.c-app {
  --primary: #39f;
  --secondary: #ced2d8;
  --success: #2eb85c;
  --info: #39f;
  --warning: #f9b115;
  --danger: #e55353;
  --light: #ebedef;
  --dark: #636f83;
}

.table {
  .text {
    padding-top: 15px !important;
  }
  min-height: 300px;
}